<template>
    <div class="ml-2 mr-2 row h-100">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mx-auto my-auto">
            <div class="col-12">
                <div class="row justify-content-center m-3">
                    <div class="col-12 col-xl-4 col-sm-12">
                        <div class="card bg-primary">
                            <div class="card-header text-white">Latest temperature</div>
                            <div class="card-body">
                                <div class="row">
                                    <img class="icon" src="../assets/thermometer.png"/>
                                    <div class="text-white">{{temperature}} °C</div>
                                </div>
                                <div class="row">
                                    <img class="icon" src="../assets/water-percent.png"/>
                                    <div class="text-white">{{humidity}} %</div>
                                </div>
                                <div class="row">
                                    <img class="icon" src="../assets/gauge.png"/>
                                    <div class="text-white">{{pressure}} hPa</div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-white">measured at {{time}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center m-3">
                    <div class="col-12 col-xl-4 col-sm-12">
                        <div class="card bg-danger">
                            <div class="card-header text-white">Highest temperature today</div>
                            <div class="card-body">
                                <div class="row">
                                    <img class="icon" src="../assets/thermometer.png"/>
                                    <div class="text-white">{{htemperature}} °C</div>
                                </div>
                                <div class="row">
                                    <img class="icon" src="../assets/water-percent.png"/>
                                    <div class="text-white">{{hhumidity}} %</div>
                                </div>
                                <div class="row">
                                    <img class="icon" src="../assets/gauge.png"/>
                                    <div class="text-white">{{hpressure}} hPa</div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-white">measured at {{htime}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center m-3">
                    <div class="col-12 col-xl-4 col-sm-12">
                        <div class="card bg-info">
                            <div class="card-header text-white">Lowest temperature today</div>
                            <div class="card-body">
                                <div class="row">
                                    <img class="icon" src="../assets/thermometer.png"/>
                                    <div class="text-white">{{ltemperature}} °C</div>
                                </div>
                                <div class="row">
                                    <img class="icon" src="../assets/water-percent.png"/>
                                    <div class="text-white">{{lhumidity}} %</div>
                                </div>
                                <div class="row">
                                    <img class="icon" src="../assets/gauge.png"/>
                                    <div class="text-white">{{lpressure}} hPa</div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-white">measured at {{ltime}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import axios from 'axios';
import moment from 'moment';

export default Vue.extend({
    name: 'Main',
    props: {
        msg: String,
    },
    data() {
        return {
            measurement: null,
            time: 'fetching',
            temperature: null,
            humidity: null,
            pressure: 0,

            htime: 'fetching',
            htemperature: null,
            hhumidity: null,
            hpressure: 0,

            ltime: 'fetching',
            ltemperature: null,
            lhumidity: null,
            lpressure: 0,
        };
    },
    mounted() {
        axios.get('https://weather.api.resch.io/v1/measurements/now')
            .then((response) => {
                this.measurement = response.data;
                this.time = moment(response.data.time).format('HH:mm');
                this.temperature = response.data.temperature;
                this.humidity = response.data.humidity;
                this.pressure = response.data.pressure / 100;
            });
        axios.get('https://weather.api.resch.io/v1/measurements/temperature/highest/today')
            .then((response) => {
                this.htime = moment(response.data.time).format('HH:mm');
                this.htemperature = response.data.temperature;
                this.hhumidity = response.data.humidity;
                this.hpressure = response.data.pressure / 100;
            });
        axios.get('https://weather.api.resch.io/v1/measurements/temperature/lowest/today')
            .then((response) => {
                this.ltime = moment(response.data.time).format('HH:mm');
                this.ltemperature = response.data.temperature;
                this.lhumidity = response.data.humidity;
                this.lpressure = response.data.pressure / 100;
            });
    },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    a, a:hover {
        color: #2c3e50;
        text-decoration: none;
    }

    img {
        height: 150px;
    }

    .icon {
        height: 24px;
        width: 24px;
    }

    .info {
        margin-top: .5em;
    }
</style>
