<template>
    <div id="app">
        <router-view/>
    </div>
</template>
<script lang="ts">
import Vue from 'vue';
import moment from 'moment';

export default Vue.extend({
    name: 'App',
    props: {
        msg: String,
    },
    beforeCreate(): void {
        const hour = moment().hour();

        if (hour < 9) {
            document.body.className = 'morning';
        } else if (hour < 17) {
            document.body.className = 'afternoon';
        } else if (hour < 23) {
            document.body.className = 'bad_weather';
        } else {
            document.body.className = 'latemar';
        }
    },
});
</script>

<style lang="scss">
    @media (max-width: 300px) {
        .morning {
            background-size: auto;
            background: url('./assets/morning_mobile_closeup.jpg') no-repeat fixed center center;
        }

        .afternoon {
            background-size: auto;
            background: url('./assets/afternoon_mobile_closeup.jpg') no-repeat fixed center center;
        }

        .bad_weather {
            background-size: auto;
            background: url('./assets/bad_weather_mobile.jpg') no-repeat fixed center center;
        }
    }
    @media (min-width: 301px) and (max-width: 600px) {
        .morning {
            background-size: auto;
            background: url('./assets/morning_mobile.jpg') no-repeat fixed center center;
        }

        .afternoon {
            background-size: auto;
            background: url('./assets/afternoon_mobile.jpg') no-repeat fixed center center;
        }

        .bad_weather {
            background-size: auto;
            background: url('./assets/bad_weather_mobile.jpg') no-repeat fixed center center;
        }
    }
    @media (min-width: 601px) and (max-width: 768px) {
        .morning {
            background-size: auto;
            background: url('./assets/morning_mobile.jpg') no-repeat fixed center center;
        }

        .afternoon {
            background-size: auto;
            background: url('./assets/afternoon_mobile.jpg') no-repeat fixed center center;
        }

        .bad_weather {
            background-size: auto;
            background: url('./assets/bad_weather_mobile.jpg') no-repeat fixed center center;
        }
    }

    body, html {
        width: 100%;
        height: 100%;
    }
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        height: 100%;
        width: 100%;
        color: #2c3e50;
    }

    .morning {
        background-size: auto;
        background: url('./assets/morning_landscape.jpg') no-repeat fixed center center;
    }

    .afternoon {
        background-size: auto;
        background: url('./assets/afternoon_landscape.jpg') no-repeat fixed center center;
    }

    .bad_weather {
        background-size: auto;
        background: url('./assets/bad_weather_landscape.jpg') no-repeat fixed center center;
    }

    .latemar {
        background-size: auto;
        background: url('./assets/latemar_from_home.jpg') no-repeat fixed center center;
    }

    * {
        line-height: 1.4;
        color: #2c3e50;
    }
</style>
